.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media all and (max-width: 440px){
  .card-list {
    grid-template-columns: 0.9fr;
    column-gap: 0px;
    row-gap: 20px;
  }
}

